## Objective: To explore various AutoEDA capabilities and perform analysis on a given dataset

### This notebook will focus on DTALE

# 5. AutoEDA - DTALE

### Dataset Reference: Loan Prediction dataset from Kaggle

### Features:

* D-Tale is the combination of a Flask back-end and a React front-end to bring you an easy way to view & analyze Pandas data structures.
* It is extremely simple and powerful to showcase lot of features intuitively with just few lines of code. User can truly explore data.
* "Code Expert" is one of the unique feature that it provides.
* It provides 3 key features:
    * Action
    * Visualize
    * Highlight

So "Action" helps perform actions for issues related to missing values, duplicates, outlier treatments etc.
"Visualize" helps display missing analysis, duplicates, correlations, charts, predictive power score etc.
"Highlight" helps highlight missing values, outliers etc.


### When To Use?

* Need some quick insights about an unknown dataset
* Use this as a basis for your further EDA analysis on top of it
* Use for data exploration even in excel based structure in a web

In [22]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

In [13]:
!pip install dtale

In [23]:
import dtale

In [24]:
df_train = pd.read_csv("C:/input/loan-eligible-dataset/loan-train.csv")

df_train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [25]:
df_test = pd.read_csv("C:/input/loan-eligible-dataset/loan-test.csv")

df_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [26]:
df_train.shape

(614, 13)

In [27]:
df_test.shape

(367, 12)

# Explore with DTALE

In [29]:
dtale.show(df_train)